@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100|Quicksand:400,300,700);

body {
	margin: 0;
	padding: 0;
	background: #eee;
	font-family: 'Roboto',sans-serif;
}

::selection {
	background: rgba(52,133,212,0.5);
}
::-moz-selection {
	background: rgba(52,133,212,0.5);
}

.header {
	width: 100%;
	z-index: 100;
	position: fixed;
	left: 0;
	top: 0;
}

.logo {
	width: 100%;
	display: block;
	background-color: #3485D4;
	font-family: 'Quicksand',sans-serif;
	font-size: 5em;
	margin: 0;
	color: #fff;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
    -webkit-box-shadow: 0 1px 8px rgba(0,0,0,.3);
    box-shadow: 0 1px 8px rgba(0,0,0,.3);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: default;
	transition: all .2s ease-in-out;
}

.wrap {
	display: inline-block;
	vertical-align: middle;
	margin: 1%;
	width: 128px;
	height: 128px;
	background-image: url(logo.png);
	background-size: contain;
	transition: all .2s ease-in-out;
}

.scroll {
	font-size: 2.5em !important;
}

.scroll .wrap {
	margin: .5%;
	width: 64px !important;
	height: 64px !important;
	background-image: url(logo-64.png) !important;
}

.valign {
	vertical-align: middle;
}

.footer {
    font-size: 12px;
    color: #aaa;
    margin: 0 0 24px;
	text-align: center;
}

.welcome {
	display: none;
	position: relative;
	margin: 24px 0 24px;
    padding: 0 12px 0 20px;
    color: rgba(0,0,0,0.87);
	transition: opacity .2s ease-in-out;
}

.welcome div {
	position: absolute;
    top: 0;
    right: 0;
    color: #444;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: pointer;
}

.welcome .title {
    font-weight: 500;
}

.welcome .wcontent {
    font-weight: 300;
}

.content {
	width: 75%;
}

.content table {
	background: transparent;
	border-spacing: 0;
}

.content table tr td.left {
	width: 70%;
}

.content table tr td {
	vertical-align: top;
    padding: 0;
}

.content table tr td.right {
	width: 30%;
}

div.box {
	display: block;
	margin: 24px 24px 0;
    background-color: #fefefe;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}

div.box .container {
	margin: 0;
	padding: 16px;
}

div.box .container h4 {
	font-size: 24px;
	margin: 36px 0 4px;
	line-height: 32px;
	color: #212121;
	font-weight: 400;
}

div.box .container h5 {
	margin: 8px 0;
	font-size: 15px;
	font-weight: 500;
	line-height: 24px;
	color: #212121;
}

div.box .container p {
	margin: 4px 0 12px;
	font-size: 14px;
	color: #212121;
	line-height: 20px;
}

div.box .container ul, div.box .container ol {
	font-size: 13px;
	color: #212121;
	line-height: 20px;
}

.box h3 {
	display: inline-block;
	margin: 0;
	vertical-align: middle;
    font-size: 34px;
	font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    padding: 16px;
    color: rgba(0,0,0,0.87);
}

a.box p {
	margin: 0;
	padding: 16px;
	font-size: 14px;
	line-height: 20px;
	color: #212121;
}

.box img {
    display: block;
	width: 100%;
}

a.box:link, a.box:visited {
	display: block;
	text-decoration: none;
	margin: 24px 24px 0;
    background-color: #fefefe;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
	transition: box-shadow .2s ease-in-out;
}

.box:last-child {
	margin: 24px !important;
}

a.box:hover, a.box:active {
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.3);
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.nav-ul {
	list-style-type: none;
    padding: 12px 0;
    margin: 12px 0;
    border-top: 0px solid #ddd;
    border-bottom: 1px solid #ddd;
	position: relative;
	z-index: 1;
	transition: border-top .2s ease-in-out;
}

.nav-ul li ul {
	list-style-type: none;
	margin: 0;
}

.nav-ul li a:link, .nav-ul li a:visited {
    border: 0;
    padding: 0 12px 0 20px;
    color: rgba(0,0,0,0.87);
	text-decoration: none;
    font-size: 14px;
    height: 48px;
    font-weight: 500;
    opacity: .85;
    line-height: 50px;
    overflow: hidden;
    display: block;
    transition: background-color .3s cubic-bezier(0,0,0.2,1);
}

.nav-ul li a:hover, .nav-ul li a:active {
    background-color: #e7e7e7;
}

.tweets {
    padding: 0 12px 0 20px;
}

a:link, a:visited {
	color: #3485D4;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

.download:link, .download:visited {
	vertical-align: middle;
	background-color: #4CAF50;
	color: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.37);
    border-radius: 2px;
    font: 500 14px/20px Roboto,sans-serif;
    line-height: 36px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s,box-shadow .2s;
}

.download:hover {
    background-color: #43A047;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2),0 6px 10px rgba(0,0,0,.3);
    text-decoration: none;
}

.download:active {
    background-color: #388E3C;
    box-shadow: 0 11px 7px rgba(0,0,0,.19),0 13px 25px rgba(0,0,0,.3);
}

#agreement {
	font-family: 'Roboto Mono', monospace;
}

@media only screen and (max-device-width: 480px) {
	.header {
		position: static !important;
	}

	.logo {
		font-size: 3em !important;
	}

	.wrap {
		background-image: url(logo-64.png) !important;
		width: 64px !important;
		height: 64px !important;
	}

	.content {
		margin: 0 !important;
		width: 100% !important;
	}

	td.left {
		width: 100% !important;
		display: block;
	}

	td.right {
		display: block;
		width: 100% !important;
	}

	.welcome {
		display: none !important;
	}

	.tweets {
		display: none !important;
	}
}