html {
	background:url(../images/01.jpg) no-repeat center center fixed;
}

body {
	background-size:100% auto;
}
.header {
	-moz-transition:-moz-box-shadow .5s;
	-webkit-transition:-webkit-box-shadow .5s;
	transition:box-shadow .5s
}

.header:hover {
	-moz-box-shadow:0 0 50px rgba(0,0,0,.5);
	-webkit-box-shadow:0 0 50px rgba(0,0,0,.5);
	box-shadow:0 0 50px rgba(0,0,0,.5)
}

h1 {
	-webkit-transition:letter-spacing .5s;
	-moz-transition:letter-spacing .5s;
	transition:letter-spacing .5s
}

h1:hover {
	letter-spacing:16px
}

.screenshot {
	-moz-transition:-moz-box-shadow .5s;
	-webkit-transition:-webkit-box-shadow .5s;
	transition:box-shadow .5s
}
.screenshot:hover {
	-moz-box-shadow:0 0 50px rgba(0,0,0,.5);
	-webkit-box-shadow:0 0 50px rgba(0,0,0,.5);
	box-shadow:0 0 50px rgba(0,0,0,.5)
}