body {
	margin: 0;
	padding: 0;
	background: #E5E5E5 url(imagedoc-lightnoise.png) repeat fixed 0 0;
	font-family: Segoe UI,Avenir Next,Roboto,Helvetica Neue Light,sans-serif;
}

.header {
	margin: 30px auto;
	padding: 10px;
	width: 75%;
	background: rgba(0,0,0,.3) url(glass.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-moz-box-shadow: 0 0 20px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.5);
	box-shadow: 0 0 20px rgba(0,0,0,.5);
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

h1 {
	font-size: 11.75vw;
	line-height: 0;
	margin: 0;
	color: #fff;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.wrap {
	vertical-align: middle;
	margin-right: 10px;
}

#VB {
	vertical-align: middle;
	text-shadow: 1px 1px 10px #fff;
}

#LOCK {
	vertical-align: middle;
	text-shadow: 1px 1px 10px #333;
}

.download {
	margin: 30px auto;
	padding: 10px;
	width: 290px;
	display: block;
	text-decoration: none;
	background: -moz-linear-gradient(top,rgba(180,221,180,.8) 0,rgba(131,199,131,.8) 17%,rgba(82,177,82,.8) 33%,rgba(0,138,0,.8) 67%,rgba(0,87,0,.8) 83%,rgba(0,36,0,.8) 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(180,221,180,.8)),color-stop(17%,rgba(131,199,131,.8)),color-stop(33%,rgba(82,177,82,.8)),color-stop(67%,rgba(0,138,0,.8)),color-stop(83%,rgba(0,87,0,.8)),color-stop(100%,rgba(0,36,0,.8)));
	background: -webkit-linear-gradient(top,rgba(180,221,180,.8) 0,rgba(131,199,131,.8) 17%,rgba(82,177,82,.8) 33%,rgba(0,138,0,.8) 67%,rgba(0,87,0,.8) 83%,rgba(0,36,0,.8) 100%);
	background: -o-linear-gradient(top,rgba(180,221,180,.8) 0,rgba(131,199,131,.8) 17%,rgba(82,177,82,.8) 33%,rgba(0,138,0,.8) 67%,rgba(0,87,0,.8) 83%,rgba(0,36,0,.8) 100%);
	background: -ms-linear-gradient(top,rgba(180,221,180,.8) 0,rgba(131,199,131,.8) 17%,rgba(82,177,82,.8) 33%,rgba(0,138,0,.8) 67%,rgba(0,87,0,.8) 83%,rgba(0,36,0,.8) 100%);
	background: linear-gradient(to bottom,rgba(180,221,180,.8) 0,rgba(131,199,131,.8) 17%,rgba(82,177,82,.8) 33%,rgba(0,138,0,.8) 67%,rgba(0,87,0,.8) 83%,rgba(0,36,0,.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccb4ddb4',endColorstr='#cc002400',GradientType=0);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.5);
	box-shadow: 0 0 20px rgba(0,0,0,.5);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-transition: -webkit-box-shadow .5s;
	-moz-transition: -moz-box-shadow .5s;
	transition: box-shadow .5s;
	font-size: 60px;
	color: #fff;
	font-weight: 400;
	text-align: center;
	text-shadow: 1px 1px 10px #333;
}

.download:hover {
	-moz-box-shadow: 0 0 50px #005700;
	-webkit-box-shadow: 0 0 50px #005700;
	box-shadow: 0 0 50px #005700;
}

#info {
	padding: 20px;
	width: 60%;
	background-color: rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	border-radius: 50px;
}

#screenshots {
	width: 40%;
}

.screenshot {
	width: 100%;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
	box-shadow: 0 0 5px rgba(0,0,0,.3);
}

.container {
	display: none;
	border-collapse: separate;
	border-spacing: 30px;
	margin: 30px auto;
	padding: 10px;
	width: 75%;
	background-color: rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.5);
	box-shadow: 0 0 20px rgba(0,0,0,.5);
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

.slideshow {
	margin: 30px auto;
	width: 75%;
}

#slide {
	width: 100%;
	-moz-box-shadow: 0 0 20px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.5);
	box-shadow: 0 0 20px rgba(0,0,0,.5);
}

.otherslideshow {
	margin: 30px auto;
	width: 75%;
	height: 585px;
	overflow: hidden;
}

.otherslideshow div img {
	width: 100%;
	-moz-box-shadow: 0 0 20px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.5);
	box-shadow: 0 0 20px rgba(0,0,0,.5);
}

h2 {
	margin: 0;
	font-size: 50px;
	color: #fff;
	font-weight: 400;
	text-shadow: 1px 1px 10px #333;
}

h3 {
	margin: 0;
	font-size: 30px;
	color: #fff;
	font-weight: 400;
	text-shadow: 1px 1px 10px #333;
}

#infotext {
	font-size: 20px;
	color: #fff;
	text-shadow: 1px 1px 5px #333;
}

.nav {
	margin: 30px auto;
	width: 100%;
}

#navul {
	list-style-type: none;
	margin: 0 auto;
	padding: 10px;
	overflow: hidden;
	width: 75%;
	background-color: rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.5);
	box-shadow: 0 0 20px rgba(0,0,0,.5);
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

.nav li {
	float: left;
	width: 20%;
}

.navlink:link,.navlink:visited {
	display: block;
	font-weight: 700;
	color: #FFF;
	background-color: rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	text-align: center;
	margin: 5px;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	transition: background-color .5s;
	text-shadow: 1px 1px 5px #333;
}

.navlink:active,.navlink:hover {
	background-color: rgba(0,0,0,.3);
}

#menudownload {
	display: block;
	font-weight: 700;
	color: #FFF;
	background: -moz-linear-gradient(top,rgba(180,221,180,.7) 0,rgba(131,199,131,.7) 17%,rgba(82,177,82,.7) 33%,rgba(0,138,0,.7) 67%,rgba(0,87,0,.7) 83%,rgba(0,36,0,.7) 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(180,221,180,.7)),color-stop(17%,rgba(131,199,131,.7)),color-stop(33%,rgba(82,177,82,.7)),color-stop(67%,rgba(0,138,0,.7)),color-stop(83%,rgba(0,87,0,.7)),color-stop(100%,rgba(0,36,0,.7)));
	background: -webkit-linear-gradient(top,rgba(180,221,180,.7) 0,rgba(131,199,131,.7) 17%,rgba(82,177,82,.7) 33%,rgba(0,138,0,.7) 67%,rgba(0,87,0,.7) 83%,rgba(0,36,0,.7) 100%);
	background: -o-linear-gradient(top,rgba(180,221,180,.7) 0,rgba(131,199,131,.7) 17%,rgba(82,177,82,.7) 33%,rgba(0,138,0,.7) 67%,rgba(0,87,0,.7) 83%,rgba(0,36,0,.7) 100%);
	background: -ms-linear-gradient(top,rgba(180,221,180,.7) 0,rgba(131,199,131,.7) 17%,rgba(82,177,82,.7) 33%,rgba(0,138,0,.7) 67%,rgba(0,87,0,.7) 83%,rgba(0,36,0,.7) 100%);
	background: linear-gradient(to bottom,rgba(180,221,180,.7) 0,rgba(131,199,131,.7) 17%,rgba(82,177,82,.7) 33%,rgba(0,138,0,.7) 67%,rgba(0,87,0,.7) 83%,rgba(0,36,0,.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3b4ddb4',endColorstr='#b3002400',GradientType=0);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.5);
	box-shadow: 0 0 20px rgba(0,0,0,.5);
	text-align: center;
	margin: 5px;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	-webkit-transition: -webkit-box-shadow .5s;
	-moz-transition: -moz-box-shadow .5s;
	transition: box-shadow .5s;
	text-shadow: 1px 1px 5px #333;
}

#menudownload:active,#menudownload:hover {
	-moz-box-shadow: 0 0 50px #005700;
	-webkit-box-shadow: 0 0 50px #005700;
	box-shadow: 0 0 50px #005700;
}

.link:link,.link:visited {
	text-decoration: none;
	color: #FFF;
	background-color: rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	-webkit-transition: background-color .5s;
	-moz-transition: background-color .5s;
	transition: background-color .5s;
}

.link:active,.link:hover {
	background-color: rgba(0,0,0,.3);
}

.footer {
	text-align: center;
}

#downloadpanel {
	display: none;
}

#agreement {
	height: 300px;
	background-color: #FFF;
	color: #000;
	text-shadow: 0 0 0;
	font-family: monospace;
	white-space: pre;
	overflow-y: scroll;
}

@media (max-device-width:480px) {
	.nav {
		display: none;
	}

	.container {
		display: block;
		width: 100%;
		border-spacing: 0;
		padding: 0;
		margin: 0 auto;
	}

	* {
		box-shadow: initial !important;
		border-radius: 0 !important;
	}

	#infotext {
		font-size: 5vw;
	}

	h3 {
		font-size: 7vw;
	}

	h2 {
		font-size: 9vw;
	}

	.slideshow {
		margin: -5px auto;
		width: 100%;
	}

	.header {
		width: 100%;
		margin: 0 auto;
		padding: 0;
	}

	.wrap {
		width: 30%;
		margin-right: 0;
	}

	h1 {
		font-size: 15vw !important;
	}

	#screenshots {
		display: none;
	}

	.download {
		display: none;
	}
}